.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;

  &__image {
    cursor: pointer;
    width: 75px;
    height: 75px;
    &.active {
      border: 1px solid black;
      border-radius: 3px;
    }
  }

  .arrow {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 15px;
    height: 15px;
    cursor: pointer;
    &.next {
      transform: rotate(-45deg);
      margin-left: 10px;
    }
    &.prev {
      transform: rotate(135deg);
      margin-right: 10px;
    }
  }
}
